<!DOCTYPE html>
<html xmlns: xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>可转债</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<body>
<div id="app" class="container">
    <h1>sinscry 选股策略</h1>
    <p>数据来源:https://www.jisilu.cn/data/cbnew/#cb</p>
    <div class="row">
        <p class="col s6">选股逻辑:连续30交易日正转比小于70%，可转债会回售</p>
        <p class="col s6">当前选股</p>
    </div>

    <div class="row">
          <table class="responsive-table highlight striped col s6">
              <thead class="card-panel  teal lighten-1">
                  <tr >
                      <th >代码</th>
                      <th >股名</th>
                      <th>债名</th>
                      <th>正股价</th>
                      <th>转股价</th>
                      <th v-on:click="Direct_rt()">正转比</th>
                      <th>到期时间</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="s in info">
                      <td>{{s.cell.stock_id}}</td>
                      <td>{{s.cell.stock_nm}}</td>
                      <td>{{s.cell.bond_nm}}</td>
                      <td>{{s.cell.sprice}}</td>
                      <td>{{s.cell.convert_price }}</td>
                      <td>{{(s.cell.sprice/s.cell.convert_price* 100).toFixed(2)}}%</td>
                      <td>{{s.cell.maturity_dt}}</td>
                  </tr>
              </tbody>
          </table>
        <div class="col s6">
            <table class="responsive-table highlight striped" v-for="usr in usr_list">
                    <thead class="card-panel  light-blue darken-1">
                        <tr>
                            <th class="white-text">{{usr.name}}</th>
                            <th>代码</th>
                            <th>股名</th>
                            <th>现价</th>
                            <th>购入价</th>
                            <th>盈亏</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="s in usr.stock_list">
                            <td></td>
                            <td>{{s.stock_id}}</td>
                            <td>{{s.stock_nm}}</td>
                            <td>{{s.sprice}}</td>
                            <td>{{s.oprice}}</td>
                            <td>{{((s.sprice-s.oprice)/s.oprice*100).toFixed(2)}}%</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="http://data.eastmoney.com/js_001/load_table_data_pc.js"></script>
<script type = "text/javascript">
new Vue({
  el: '#app',
  data () {
    return {
        info: null,
        dr_s: 1,
        usr_list:null
    }
  }
  ,
   methods:{
        Direct_rt:function (){
            for (var i=0;i<this.info.length-1;i++){
                for(var j=0;j<this.info.length-1-i;j++){
                    var comp = this.info[j].cell.convert_price/this.info[j].cell.sprice<this.info[j+1].cell.convert_price/this.info[j+1].cell.sprice;
                    //前面是降序后面是降序
                    if ((comp && this.dr_s==1)||(comp==false && this.dr_s!=1)){
                        var tmp = this.info[j];
                        this.info[j]=this.info[j+1];
                        this.info[j+1]=tmp;
                    }
                }
            }
            this.dr_s = -this.dr_s;
            this.$forceUpdate();
        }
   }
  ,mounted () {
    axios
      .get('/stock_json')
      .then(response => (this.info = response.data.rows, this.Direct_rt())
      )
      .catch(function (error) { // 请求失败处理
        console.log(error);
      });

    //对用户信息进行处理
    axios
        .get('/usr_json')
        .then(response => (this.usr_list = response.data)
        )
        .catch(function (error) {
            console.log(error);
        });
  }
})


</script>
</body>
</html>